footer.footer 
  .footer__logo 
    img(src="/img/logo-green.png" alt="Natours logo")
  ul.footer__nav 
    li: a(href="#") About us
    //- * so in this case we write li then a but li we don't have any attribute or class
    //- * therefore we can write it by use colon notation(:) li: a(href="#")(li: then space then code)
    //- ! but remember it might work if li not have anything like class, attributes...
    //- ! like li.li: a(href="#") => it's still working but we should use it in case li don't have anything and it's clearer
    li: a(href="#") Download apps
    li: a(href="#") Become a guide
    li: a(href="#") Careers
    li: a(href="#") Contact
  p.footer__copyright &copy; by Jonas Schmedtmann. All rights reserved.