// Header
//- * so in pug if we want write class we can use element.className or element.className1className2classNameN(if we have more classes)
//- * The CSS code here is code by the BEM architecture in CSS: block element modifier
//- * nav--tours is modifier class(reuse class)
//- * nav__el is block element __ represent block in this case
header.header 
  //- - const x  = browser.cookies.get('access_token')
  //- - console.log(x)
  nav.nav.nav--tours
    //- * / is the current root link so it's 127.0.0.1:3000/ and it's link of our overview page
    a.nav__el(href="/") All tours
    form.nav__search
      button.nav__search-btn
        svg 
          use(xlink:href="/img/icons.svg#icon-search")
      input.nav__search-input( type="text" placeholder="Search tours")
    //- * div is stander block element in HTML so we can don't need to write it 
    //- * like  div.header__logo instead we can write .header__logo so it'll automatically create div element
  .header__logo
    img(src="/img/logo-white.png" alt="Natours logo")
  nav.nav.nav--user 
    //- a.nav__el( href="#") My bookings
    //- a.nav__el( href="#")
    //-    img.nav__user-img(src="img/users/default.jpg" alt="User photo")
    //-    span LongHoang
    if user
      a.nav__el( href="/my-tours") My bookings
      a.nav__el.nav__el--logout Log out
      a.nav__el( href="/me")
        img.nav__user-img(src=`/img/users/${user.photo}` alt=`${user.name} photo`)
        span= user.name.split(' ')[0]
    else
      a.nav__el(href="/login") Log in
      a.nav__el.nav__el--cta(href="/signup") Sign up