extends base

include mixins/_mixinsAccount

block title
  title Natours | Account

block content 
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          //- li.side-nav--active
          //-   a(href='#')
          //-     svg
          //-       use(xlink:href='img/icons.svg#icon-settings')
          //-     | Settings
          //- li
          //-   a(href='#')
          //-     svg
          //-       use(xlink:href='img/icons.svg#icon-briefcase')
          //-     | My bookings
          //- li
          //-   a(href='#')
          //-     svg
          //-       use(xlink:href='img/icons.svg#icon-star')
          //-     | My reviews
          //- li
          //-   a(href='#')
          //-     svg
          //-       use(xlink:href='img/icons.svg#icon-credit-card')
          //-     | Billing
          //- +menu_item('settings', 'Settings')
          +navItem('#','settings', 'Settings', 1)
          +navItem('/my-tours','briefcase', 'My bookings')
          +navItem('/my-favorite-tours','bookmark', 'My favorite tours')
          +navItem('/my-reviews','star', 'My reviews')
          +navItem('#','credit-card', 'Billing')
          
        - if(user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              //- li
              //-   a(href='#')
              //-     svg
              //-       use(xlink:href='img/icons.svg#icon-map')
              //-     | Manage tours
              //- li
              //-   a(href='#')
              //-     svg
              //-       use(xlink:href='img/icons.svg#icon-users')
              //-     | Manage users
              //- li
              //-   a(href='#')
              //-     svg
              //-       use(xlink:href='img/icons.svg#icon-star')
              //-     | Manage reviews
              //- li
              //-   a(href='#')
              //-     svg
              //-       use(xlink:href='img/icons.svg#icon-briefcase')
              +navItem("#","map", "Manage tours")
              +navItem("#","users", "Manage users")
              +navItem("#","star", "Manage reviews")
              +navItem("#","briefcase", "Manage booking")

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          //- * we will use the form event to submit data
          //- * to do it:
          //- ! 1, we need to specify method and action for form
          //- ? and what place data send, i know that send to submit-user-data but exactly where?
          //- * well we have many way to manipulate to get this data but one of them which we will use is called URL encoded, => we will encoded data from sent on URL and get it
          //- * it looks like a little bit with query string
          //- ! 2, we need specify the name of property data we want to send
          form.form.form-user-data
            //-  form.form.form-user-data(method= 'POST' action='/submit-user-data' enctype="multipart/form-data")
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text', value=`${user.name}`, name="name", required)
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email', value=`${user.email}`, name="email", required)
            .form__group.form__photo-upload
              img.form__user-photo(src=`/img/users/${user.photo}`, alt=`${user.name} photo`)
              //- input#photo.form__upload(type='file', name="photo", accept="image/*", required)
              input#photo.form__input(type='file', name="photo", accept="image/*", required)
              //- label(for="photo") Choose new photo 
              //- a.btn-text(href='') Choose new photo
            .form__group.right
              button.btn.btn--small.btn--green Save settings
        .line &nbsp;
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-settings
            .form__group
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green Save password
