//-  so in pug file we can write HTML code but not really like HTML format code
h1 The base page 
//- so it's will behind consvert to html code and run: <h1>The base page</h1>
//- it also allow us to put all kinds of variables in here so that we can really inject our data in to these template
